h1, h2, p
{
	text-align:center;
}
table
{
	margin:0 auto;
	text-align:center;	
	width: 80%;
	border-collapse:collapse;
			
}
th, td 
{
	border: 1px solid black;
	font-style:italic;
}


li
{
	width:100%;
	margin-left:200px;
}
#font
{
	font-family:Impact, Charcoal, sans-serif;
}
#background
{
	background-image:url("http://i.imgur.com/TaY6kZs.jpg");
	width: 500px;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	
}
a
{
	text-decoration:none
}
a:hover
{
	text-decoration:underline;
	color:green
}

table { 
 width: 100%; 
 border-collapse: collapse; 
 background:red; 


