
input
	{
	text-align:center;
	}
h1
	{
	text-align:center;
	}
	

table
{
	margin:0 auto;
	text-align:center;	
	width: 80%;
	border-collapse:collapse;
			
}
th, td 
{
	border: 1px solid black;
	font-style:italic;
}