
html
{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#header
{	
	font-family:Impact, Charcoal, sans-serif;
	top:0px;
	left:0px;
	width:100%;
}
#footer 
{
	bottom:0px;
	left:0px;
	width:100%;
	text-align:center;
	height: 100px;
}
#links
{
	top:200px;
	left:5px;
	height:20px;
	margin-left:20px;
	margin-top:80px;
	width:100%;
	height: 50px;
}
#image
{
	display: block;
	margin: 0 auto;
}
#background
{
	background-color: red;
}
a{
	text-decoration:none;
}
a:visited
{
	color:red;
}
a:hover
{
	font-weight:bold;
}
#tabs
{
margin-top:100px;
}
